* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;;
}

.container {
    display: grid;
    grid: 1fr 5fr / 1fr 4fr;
    height: 100vh;
}

ul {
    list-style: none;
}

/*HEADER*/

.header {
    grid-area: 1 / 2 / 2 / 3;
    margin: 10px 10px 10px 20px;
}

.header-grid1 {
    margin: 10px 30px 0 0;
    display: grid;
    grid-template-columns: 2.5rem 5fr 2.5rem 2.5rem 1fr;
    align-items: center;
}

.header-grid1 p {
    font-size: 0.8rem;
    font-weight: 500;
}

input[type="search"] {
    width: 80%;
    border-radius: 15px;
    background-color: rgb(229, 229, 228);
    border: none;
    height: 1.5rem;
}

.search-icon {
    padding-left: 10px;
}

.header-icon,
.search-icon {
    width: 1rem;
}

#dog-icon {
    width: 1.5rem;
}

.header-grid2 {
    display: grid;
    margin-top: 15px;
    margin-right: 30px;
    grid: 1fr 1fr / auto 60% 1fr; 
}

.cat {
    grid-area: 1 / 1 / 3 / 2;
    margin: 0 10px 0 10px;
}

.hi {
    grid-area: 1 / 2 / 2 / 3;
}

.morgan {
    grid-area: 2 / 2 / 3 / 3;
}

.buttons {
    grid-area: 1 / 3 / 3 / 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

button {
    background-color: #166534;
    color: white;
}

/*MAIN*/

.main {
    background-color: rgb(184, 193, 199);
    grid-area: 2 / 2;
    display: grid;
    grid: 1fr 1fr / 3fr 1fr;
    padding-top: 20px;
}

/*MAIN > PROJECTS*/

.projects {
    grid-area: 1 / 1 / 3 / 2;
}

.projects > p {
    margin: 0 0 0 10px;
}

.card {
    background-color: white;
    height: 200px;
}

.cards-container {
    margin: 0 10px 10px 10px;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

/*MAIN > ANNOUNCEMENTS*/

.announcements {
    grid-area: 1 / 2 / 2 / 3;
    margin: 0 10px 10px 10px;
}

.announcements > ul {
    background-color: white;
}

.announcements ul li {
    padding: 10px;
}

ul li p {
    font-size: 10px;
}

/*MAIN > TRENDING*/

.trending {
    grid-area: 2 / 2 / 3 / 3;
    margin: 0 10px 10px 10px;
}

.trendlist {
    display: grid;
    grid: repeat(8, 1fr) / 1fr 3fr;
    background-color: white;
    align-items: center;
}

.trend-icon {
    grid-row-start: span 2; 
}

/*SIDEBAR*/

.sidebar li {
    font-weight: 500;
}

.logo > img {
    width: 2rem;
    justify-self: center;
}

.logo {
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin: 10px 0 40px 15px;
    align-items: center;
}

.sidebar {
    background-color: #166534;
    color: white;
    grid-area: 1 / 1 / 3 / 2;
}

.sidebar ul {
    margin-left: 15px;
    display: grid;
}

.sidebar-list1 {
    grid: repeat(6, 1fr) / 1fr 4fr;
    margin-bottom: 40px;
}

.sidebar-list2 {
    grid: repeat(3, 1fr) / 1fr 4fr;
}

.sidebar-list1,
.sidebar-list2 {
    align-items: center;
}

.logo h3,
.sidebar li:nth-child(even) {
    padding-left: 10px;
}

.sidebar li:nth-child(odd) {
    justify-self: center;
}

.sidebar-list1 > li > img,
.sidebar-list2 > li > img {
    width: 15px;
}

.sidebar-list1 > li,
.sidebar-list2 > li {
    padding-bottom: 15px;
}