* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;;
}

.container {
    display: grid;
    grid: 1fr 5fr / 1fr 4fr;
    height: 100vh;
}

ul {
    list-style: none;
}

/*HEADER*/

.header {
    grid-area: 1 / 2 / 2 / 3;
    padding: 10px 10px 20px 20px;
    font-weight: 500;
    border-bottom: solid rgb(184, 184, 184) 5px;
}

.header-grid1 {
    margin: 10px 25px 0 0;
    display: grid;
    grid-template-columns: 2.5rem 5fr 2.5rem 2.5rem 1fr;
    align-items: center;
}

.header-grid1 p {
    font-size: 0.8rem;
    font-weight: 500;
}

input[type="search"] {
    width: 80%;
    border-radius: 15px;
    background-color: rgb(229, 229, 228);
    border: none;
    height: 1.5rem;
}

.search-icon {
    padding-left: 10px;
}

.header-icon,
.search-icon {
    width: 1rem;
}

.img-cropper {
    width: 40px;
    height: 40px;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
}

.header-grid2 {
    display: grid;
    margin-top: 15px;
    margin-right: 50px;
    grid: 1fr 1fr / auto 60% 1fr; 
}

.dog {
    grid-area: 1 / 1 / 3 / 2;
    margin: 0 10px 0 10px;
}

.hi {
    grid-area: 1 / 2 / 2 / 3;
    font-size: 0.7rem;
    align-self: center;
}

.morgan {
    grid-area: 2 / 2 / 3 / 3;
    font-weight: 500;
}

.buttons {
    grid-area: 1 / 3 / 3 / 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 5px;
}

button {
    border: none;
    text-decoration: none;
    background-color: orange;
    color: white;
    width: 5rem;
    height: 2rem;
    border-radius: 30px;
    font-size: 0.7rem;
}

/*MAIN*/

.main {
    background-color: rgb(184, 193, 199);
    grid-area: 2 / 2;
    display: grid;
    grid: 1fr 1fr / 3fr 1fr;
    padding-top: 20px;
}

.main-titles {
    font-weight: 500;
    font-size: 1.2rem;
}

/*MAIN > PROJECTS*/

.projects {
    grid-area: 1 / 1 / 3 / 2;
}

.projects > p {
    margin: 0 0 0 10px;
}

.card {
    background-color: white;
    height: 150px;
    border-radius: 5px;
    border-left: orange solid 5px;
    padding: 30px 10px 0 10px;
}

.card p {
    font-size: 0.8rem;
}

.cards-container {
    margin: 10px 10px 10px 10px;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.card-icon-grid {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
    justify-items: end;
    padding-right: 10px;
}

.card img {
    width: 1rem;
}

/*MAIN > ANNOUNCEMENTS*/

.announcements {
    grid-area: 1 / 2 / 2 / 3;
    margin: 0 10px 10px 10px;
}

.announcelist {
    margin: 10px 20px 0 0;
    border-radius: 5px;
}

.announcements > ul {
    background-color: white;
    padding: 15px;
}

.announcements ul li {
    padding: 10px;
}

.announcelist li:nth-child(-n+2) {
    border-bottom: solid rgb(229, 229, 229) 1px;
}

ul li p {
    font-size: 10px;
}

/*MAIN > TRENDING*/

.trending {
    grid-area: 2 / 2 / 3 / 3;
    margin: 0 10px 10px 10px;
}

.trendlist {
    display: grid;
    grid: repeat(8, 1fr) / 1fr 3fr;
    background-color: white;
    align-items: center;
    margin: 10px 20px 0 0;
    border-radius: 5px;
}

.trendlist p {
    font-size: 0.7rem;
}

.users {
    grid-row-start: span 2;
}

.icon-rect {
    display: inline;
    margin: 0 auto;
    margin-left: -25%;
    height: 100%;
    width: auto; 
}

.icon-port {
    height: auto;
    width: 100%;
    margin-top: -25%;
}

.trendlist:nth-child(4) {
    color: green;
}

/*SIDEBAR*/

.sidebar li {
    font-weight: 500;
}

.logo > img {
    width: 2rem;
    justify-self: center;
}

.logo {
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin: 10px 0 40px 15px;
    align-items: center;
}

.sidebar {
    background-color: #166534;
    color: white;
    grid-area: 1 / 1 / 3 / 2;
}

.sidebar ul {
    margin-left: 15px;
    display: grid;
}

.sidebar-list1 {
    grid: repeat(6, 1fr) / 1fr 4fr;
    margin-bottom: 40px;
}

.sidebar-list2 {
    grid: repeat(3, 1fr) / 1fr 4fr;
}

.sidebar-list1,
.sidebar-list2 {
    align-items: center;
}

.logo h3,
.sidebar li:nth-child(even) {
    padding-left: 10px;
}

.sidebar li:nth-child(odd) {
    justify-self: center;
}

.sidebar-list1 > li > img,
.sidebar-list2 > li > img {
    width: 15px;
}

.sidebar-list1 > li,
.sidebar-list2 > li {
    padding-bottom: 15px;
}